/*---------------
overallStyle.css
-----------------*/

/* header.php */
body{
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	position: relative;
	padding-bottom: 6rem;
	min-height: 100%;
	overflow-x: hidden;
}

nav{
	overflow: hidden;
	padding: 10px 30px;
	/*background-color: #f1f1f1;*/
}

.nav-links {
	float: left;
	color: black;
	text-align: center;
	padding: 8px 10px;
	font-size: 18px;
	line-height: 80px;
	border-radius: 0px;
	text-decoration: none;
	
}

nav .nav-links:hover{
	text-decoration: underline #801a00;
	color: black;
}

.nav-right{
	float: right;
}


nav #logo{
	width: 7%;
	
}

nav #logo:hover{
	transform: scale(1.1);
}

@media screen and (max-width: 600px){
	nav .nav-links{
		float: none;
		display: block;
		text-align: left;
	}
	.nav-right{
		float: none;
	}
}


/*footer.html*/
.linkedin-icon, .github-icon, .mail-icon{
	width: 30px;
	height: auto;
	display: inline-block;
	margin-left: 20px;
	margin-right:auto;
}




#footer{
	text-align:center;
	background-color: #f1f1f1;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	
}



/*index.php*/
#introduction{
	text-align: center;
}

#intro-wrapper{
	padding-bottom: 25px;
}

#image-of-me{
	width: 25%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

/*contact.php*/

.container{
	text-align: center;
}
input[type=text]{
	border-radius: 5px;
	border: 1px solid grey;
}
input[type=email]{
	border-radius: 5px;
	border: 1px solid grey;
}
textarea#message{
	border-radius: 5px;
	border: 1px solid grey;
}

.contact-info{
	display: inline-block;
	padding-bottom: 30px;
}

.label, .label2{
	display:block;
}


/*sentSuccess.php*/
.sent-message{
	text-align: center;
}

#sent-message-link a{
	text-decoration: none;
	color: #801a00;
}

#sent-message-link a:hover{
	text-decoration: underline #801a00;

}






